<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE-edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="title" content="LaperAja By Fadhil" />
  <meta name="description" content="Aplikasi daftar restoran untuk submission Dicoding" />
  <meta name="theme-color" content="#91fdd0" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Montserrat:wght@300;400;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">
  <title>LaperAja by Fadhil</title>
  <style>
    .hero {
      background-image:
        linear-gradient(to left top, rgba(96, 247, 179, 0.8), rgba(209, 253, 234, 0.8)),
        url('./images/hero-image-large.jpg');
    }

    @media screen and (max-width: 48em) {
      .hero {
        background-image:
          linear-gradient(to left top, rgba(96, 247, 179, 0.8), rgba(209, 253, 234, 0.8)),
          url('./images/hero-image-small.jpg');
      }
    }
  </style>
</head>

<body>
  <a class="skip-link" href="#contentSection">Skip to Content</a>
  <header>
    <a href="/" class="ts-light">LaperAja</a>
    <button aria-label="tombol daftar menu" id="hamburgerButton">☰</button>
    <nav id="navigationDrawer" class="ts-light">
      <a href="#/home">Home</a>
      <a href="#/favorite">Favorite</a>
      <a href="https://github.com/afadhil" rel="noopener" target="_blank">About Us</a>
    </nav>
  </header>
  <main id="mainContent"></main>
  <footer>
    <strong tabindex="0">copyright @ 2021 - LaperAja</strong>
    <strong tabindex="0"> made with &#10084; by Fadhil </strong>
  </footer>
</body>

</html>