<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Montserrat:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <title>LaperAja by Fadhil</title>
  </head>
  <body>
    <header>
      <a href="/" class="ts-light">LaperAja</a>
      <nav id="drawer" class="ts-light">
        <a href="/">Home</a>
        <a href="#">Favorite</a>
        <a href="https://instagram.com/agfadhil" target="_blank">About Us</a>
      </nav>
      <span id="hamburger">☰</span>
    </header>
    <main>
      <section class="hero">
        <h2 class="ts-light">Laper?</h2>
        <h2 class="ts-light">cari disini aja</h2>
        <a href="#" class="ts-light">cek resto yuk!</a>
      </section>
      <section class="content">
        <h2>Temukan resto favoritmu!</h2>
        <div id="card-restaurants"></div>
      </section>
    </main>
    <footer>
      <strong>copyright @ 2021 - LaperAja</strong>
      <strong>
        made with &#10084; by
        <a href="https://instagram.com/agfadhil" target="_blank">Fadhil</a>
      </strong>
    </footer>
  </body>
</html>
