<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <title>LaperAja by Fadhil</title>
</head>
<body>
  <header>
    <h1>LaperAJa</h1>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Favorite</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
    <span id="hamburger">☰</span>
  </header>
  <nav id="drawer">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Favorite</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </nav>
  <main>
    <section class="hero">hero</section>
  </main>
  
<!-- <img src="./images/heros/hero-image_1.jpg" width="450" alt="">
<img src="./images/heros/hero-image_2.jpg" width="450" alt="">
<img src="./images/heros/hero-image_3.jpg" width="450" alt="">
<img src="./images/heros/hero-image_4.jpg" width="450" alt=""> -->
</body>
</html>
