@media screen and (max-width: 48em) {
  #drawer {
    display: block;
    background-color: #ccf3e2ea;
    position: absolute;
    left: 100%;
    margin-top: 4.625rem;
    text-align: center;
    transition: transform 0.35s ease-in-out;
    width: 100%;
    z-index: 99;
  }
  #drawer a { 
    border-bottom: .1rem solid var(--primary-white);
    display: block;
    font-weight: 600;
    padding: 1rem;
  }
  #drawer.open { transform: translate(-100%,0); }
  
  #hamburger {
    color: var(--primary-white);
    cursor: pointer;
    display: block;
    font-size: 1.75rem;
    font-weight: 800;
    margin: auto 0;
    text-shadow: 0 0 .7rem #878787;
  }

  header { padding: 1rem 2rem; }
  header > h1 { font-size: 1.8rem; }
  header > ul { display: none; }
}