@media screen and (max-width: 31.1875em) {
  #drawer {
    display: block;
    background-color: #ccf3e2ea;
    box-shadow: 0 0.5rem 1rem rgb(0 0 1 / 15%);
    position: absolute;
    margin-top: 4rem;
    text-align: center;
    transform: translate(calc(-100% - 2rem), 0);
    -webkit-transform: translate(calc(-100% - 2rem), 0);
    transition: transform 0.35s ease-in-out;
    width: 100%;
    z-index: 99;
  }
  #drawer a { 
    border-bottom: .1rem solid var(--primary-white);
    display: block;
    font-weight: 600;
    padding: 1rem;
  }
  #drawer.open {
    -webkit-transform: translate(-2rem, 0);
    transform: translate(-2rem, 0);
  }
  
  #hamburger {
    color: var(--primary-white);
    cursor: pointer;
    display: block;
    font-size: 1.6rem;
    font-weight: 800;
    margin: auto 0;
    text-shadow: 0 0 .7rem #878787;
  }

  header { padding: 1rem 2rem; }
  header > a { font-size: 2rem; }
}

@media screen and (min-width: 56.25em) {
  #card-restaurants {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* @media screen and (max-width: 48em) { 
} */